In [18]:
import numpy as np
import pandas as pd

In [19]:
data=pd.read_csv("/content/train_yaOffsB.csv")
test=pd.read_csv("/content/test_pFkWwen.csv")

In [20]:
data.size

888580

In [21]:

data.isnull().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

In [22]:
data.dropna(subset=['Soil_Type'],inplace=True)

In [23]:
data.loc[:, 'Number_Weeks_Used'] = data.loc[:, 'Number_Weeks_Used'].fillna(data['Number_Weeks_Used'].median())

In [24]:
test.isnull().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          5893
Number_Weeks_Quit             0
Season                        0
dtype: int64

In [25]:
test.dropna(subset=['Soil_Type'],inplace=True)

In [26]:
test.loc[:, 'Number_Weeks_Used'] = test.loc[:, 'Number_Weeks_Used'].fillna(test['Number_Weeks_Used'].median())

In [27]:
data

              ID  Estimated_Insects_Count  ...  Season  Crop_Damage
0      F00000001                      188  ...       1            0
1      F00000003                      209  ...       2            1
2      F00000004                      257  ...       2            1
3      F00000005                      257  ...       2            1
4      F00000006                      342  ...       2            1
...          ...                      ...  ...     ...          ...
88853  F00155935                     3337  ...       3            0
88854  F00155938                     3516  ...       1            0
88855  F00155939                     3516  ...       2            0
88856  F00155942                     3702  ...       3            0
88857  F00155945                     3895  ...       3            0

[88858 rows x 10 columns]

In [33]:
from sklearn import preprocessing
from sklearn.preprocessing import normalize

X_train = data.drop(["ID","Crop_Damage"], axis=1)
#X_train = X_train.drop("Loan_ID", axis=1)
Y_train = data["Crop_Damage"].values
X_test = test.drop("ID", axis=1)
#Y_test= test
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(X_train)
X_train = pd.DataFrame(np_scaled)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(X_test)
X_test = pd.DataFrame(np_scaled)

In [34]:
Y_train

array([0, 1, 1, ..., 0, 0, 0])

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
X_train.shape, Y_train.shape, X_test.shape

((88858, 8), (88858,), (59310, 8))

In [38]:
#Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
#random_forest.score(X_train, Y_train)
#acc_random_forest = round(random_forest.score(X_train, Y_pred) * 100, 2)
#acc_random_forest

97.9

In [41]:
Y_pred.size

59310

In [43]:
test.ID

0        F00000002
1        F00000007
2        F00000011
3        F00000013
4        F00000014
           ...
59305    F00155937
59306    F00155940
59307    F00155941
59308    F00155943
59309    F00155944
Name: ID, Length: 59310, dtype: object

In [46]:
list_combined = list(zip(test.ID, Y_pred))  
df2=pd.DataFrame(list_combined,columns=['test.ID','Y_pred'])
df2

         test.ID  Y_pred
0      F00000002       1
1      F00000007       1
2      F00000011       1
3      F00000013       2
4      F00000014       1
...          ...     ...
59305  F00155937       0
59306  F00155940       0
59307  F00155941       1
59308  F00155943       0
59309  F00155944       1

[59310 rows x 2 columns]

In [50]:
result=df2.to_csv('Result.csv')